@import "../../../../styles/variables";

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

$toolbar-height: 56px;

.fixed {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 999;

  &.top {
    height: $toolbar-height;
    top: 0;
  }

  &.bottom {
    height: 48px;
    bottom: 0;
  }
}

main {
  padding: $gap-normal + $toolbar-height $gap-normal;
}
