<div class="egg-counter margin-bottom">
  <button mat-icon-button [disabled]="view.largeCount === 0" (click)="decrease('l')">
    <mat-icon>remove</mat-icon>
  </button>
  <div class="counter-label large">
    <img src="./assets/images/egg-count.svg" alt="Eier zählen">
    <span class="mat-headline">{{ view.largeCount }}</span>
  </div>
  <button mat-icon-button (click)="increase('l')">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="egg-counter margin-bottom">
  <button mat-icon-button [disabled]="view.mediumCount === 0" (click)="decrease('m')">
    <mat-icon>remove</mat-icon>
  </button>
  <div class="counter-label medium">
    <img src="./assets/images/egg-count.svg" alt="Eier zählen">
    <span class="mat-headline">{{ view.mediumCount }}</span>
  </div>
  <button mat-icon-button (click)="increase('m')">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="egg-counter margin-bottom">
  <button mat-icon-button [disabled]="view.smallCount === 0" (click)="decrease('s')">
    <mat-icon>remove</mat-icon>
  </button>
  <div class="counter-label small">
    <img src="./assets/images/egg-count.svg" alt="Eier zählen">
    <span class="mat-subheading-2">{{ view.smallCount }}</span>
  </div>
  <button mat-icon-button (click)="increase('s')">
    <mat-icon>add</mat-icon>
  </button>
</div>
