<mat-card class="margin-bottom">
  <mat-card-header>
    <app-icon mat-card-avatar *ngIf="view.navBarItem.icon" [icon]="view.navBarItem.icon.name"></app-icon>
    <mat-card-title>{{ view.navBarItem.title }}</mat-card-title>
    <mat-card-subtitle>Die Hühner-Community</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<form class="question margin-bottom" [formGroup]="view.questionForm">
  <mat-accordion>
    <mat-expansion-panel #questionFormExpansionPanel>
      <mat-expansion-panel-header>Einen Beitrag schreiben</mat-expansion-panel-header>
      <mat-form-field appearance="outline">
        <mat-label>Wie lautet deine Frage?</mat-label>
        <textarea matInput formControlName="question"></textarea>
      </mat-form-field>
      <mat-action-row>
        <button mat-button type="button" (click)="uploadImage()">
          <span *ngIf="view.image; else uploadLabel">{{ view.image.file.name }}</span>
          <ng-template #uploadLabel>
            <span>Bild hochladen</span>
          </ng-template>
        </button>
        <button mat-raised-button color="primary" type="button"
                [disabled]="!view.questionForm.controls.question.value && !view.image"
                (click)="sendQuestion()">
          Senden
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</form>

<a class="margin-bottom" *ngFor="let question of view.questions" [routerLink]="['/panel', question.id]">
  <app-panel-question-item [question]="question"></app-panel-question-item>
</a>
