@import "../../../../styles/variables";

form.door {
  .mat-card {
    .mat-card-content {
      margin-bottom: 0;

      .mat-checkbox {
        display: block;
        margin-bottom: $gap-normal;
      }
    }
  }
}
