<ng-container *ngIf="view.henHouse; else noHenHouse">
  <form class="door margin-bottom" [formGroup]="view.doorForm">
    <mat-card>
      <mat-card-header>
        <app-icon mat-card-avatar [icon]="view.henHouse.door.isOpen ? 'lock_open' : 'lock'"></app-icon>
        <mat-card-title>Stalltüre</mat-card-title>
        <mat-card-subtitle>
          <span>Die Stalltüre ist </span>
          <span *ngIf="view.henHouse.door.isOpen; else doorClosed">geöffnet</span>
          <ng-template #doorClosed>
            <span>geschlossen</span>
          </ng-template>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-checkbox class="outline" formControlName="automatismActive"
                      [value]="view.doorForm.controls.automatismActive.value">
          Türautomatik ist {{ view.doorForm.controls.automatismActive.value ? 'aktiv' : 'deaktiviert' }}
        </mat-checkbox>
        <mat-form-field appearance="outline">
          <mat-label>Türe automatisch öffnen</mat-label>
          <mat-select formControlName="open" [value]="view.doorForm.controls.open.value">
            <mat-option *ngFor="let option of view.doorFormOpenOptions" [value]="option">{{ option }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Türe automatisch schließen</mat-label>
          <mat-select formControlName="close" [value]="view.doorForm.controls.close.value">
            <mat-option *ngFor="let option of view.doorFormCloseOptions" [value]="option">{{ option }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="toggleDoor()">
          <span *ngIf="view.henHouse.door.isOpen; else openDoorLabel">Türe jetzt schließen</span>
          <ng-template #openDoorLabel>
            <span>Türe jetzt öffnen</span>
          </ng-template>
        </button>
      </mat-card-actions>
    </mat-card>
  </form>

  <mat-card class="margin-bottom">
    <mat-card-header>
      <app-icon mat-card-avatar icon="thermostat"></app-icon>
      <mat-card-title>Temperaturen</mat-card-title>
      <mat-card-subtitle>
        <span *ngIf="view.henHouse.temperatureInside < 10; else temperatureNotCold"
              class="color-cold">Frostgefahr</span>
        <ng-template #temperatureNotCold>
          <span *ngIf="view.henHouse.temperatureInside > 25; else temperatureOk" class="color-warm">Wärmegefahr</span>
          <ng-template #temperatureOk>
            <span class="color-neutral">Die Temperatur ist OK</span>
          </ng-template>
        </ng-template>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>Temperatur außen: {{ view.henHouse.temperatureOutside }}°C</div>
      <div>Temperatur innen: {{ view.henHouse.temperatureInside }}°C</div>
    </mat-card-content>
  </mat-card>

  <mat-card class="margin-bottom">
    <mat-card-header>
      <app-icon mat-card-avatar icon="sensor"></app-icon>
      <mat-card-title>Sensoren</mat-card-title>
      <mat-card-subtitle>
        <span
          *ngIf="view.henHouse.sensors.egg && view.henHouse.sensors.temperatureOutside && view.henHouse.sensors.temperatureInside; else brokenSensors">
          Alle Sensoren sind einsatzbereit
        </span>
        <ng-template #brokenSensors>
          <span class="label-error">Manche Sensoren sind nicht funktionsfähig!</span>
        </ng-template>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div [class.label-error]="!view.henHouse.sensors.egg">
        Eiersensor: {{ view.henHouse.sensors.egg ? 'OK' : 'Fehlerhaft' }}
      </div>
      <div [class.label-error]="!view.henHouse.sensors.temperatureOutside">
        Temperatur außen: {{ view.henHouse.sensors.temperatureOutside ? 'OK' : 'Fehlerhaft' }}
      </div>
      <div [class.label-error]="!view.henHouse.sensors.temperatureInside">
        Temperatur innen: {{ view.henHouse.sensors.temperatureInside ? 'OK' : 'Fehlerhaft' }}
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-template #noHenHouse>
  <mat-card class="margin-bottom">
    <mat-card-content>Die Stalldaten konnten nicht geladen werden.</mat-card-content>
  </mat-card>
</ng-template>
