<ng-container *ngIf="view.question; else noQuestion">
  <app-panel-question-item class="margin-bottom" [question]="view.question"></app-panel-question-item>

  <form class="response margin-bottom" [formGroup]="view.responseForm">
    <mat-accordion>
      <mat-expansion-panel #responseFormExpansionPanel>
        <mat-expansion-panel-header>Eine Antwort schreiben</mat-expansion-panel-header>
        <mat-form-field appearance="outline">
          <mat-label>Wie lautet deine Antwort?</mat-label>
          <textarea matInput formControlName="response"></textarea>
        </mat-form-field>
        <mat-action-row>
          <button mat-raised-button color="primary" type="button"
                  (click)="sendResponse()"
                  [disabled]="!view.responseForm.controls.response.value">
            Senden
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </form>

  <app-panel-response-item class="margin-bottom"
                           *ngFor="let response of view.question.responses"
                           [response]="response"></app-panel-response-item>
</ng-container>

<ng-template #noQuestion>
  <mat-card>
    <mat-card-content>Dieser Eintrag existiert nicht oder wurde gelöscht.</mat-card-content>
  </mat-card>
</ng-template>
