@import "variables";
@import "material";

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $background-color;
}

.margin-bottom {
  display: block;

  &:not(:last-child) {
    margin-bottom: $gap-normal;
  }
}

a {
  text-decoration: none;
}

.color-cold {
  color: $color-cold;
}

.color-neutral {
  color: $color-neutral;
}

.color-warm,
.label-error {
  color: $color-warm;
}
