@import "variables";
@import "mixins";

.mat-card {
  .mat-card-header {
    .mat-card-avatar {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .mat-card-subtitle {
      &:last-child {
        margin-bottom: 0;
      }
    }

    margin-bottom: $gap-normal;
  }

  .mat-card-actions {
    @include button-container();
  }
}

.mat-dialog-container {
  .mat-dialog-actions {
    @include button-container();
  }
}

.mat-button,
.mat-raised-button {
  @include text-ellipsis();
}

@media (max-width: 400px) {
  .mat-card {
    .mat-card-actions {
      @include button-container-mobile();
    }
  }

  .mat-dialog-container {
    .mat-dialog-actions {
      @include button-container-mobile();

      padding-bottom: $gap-normal;
    }
  }
}
