@import "variables";

.mat-card {

  .mat-card-header {
    .mat-card-avatar {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .mat-card-subtitle {
      &:last-child {
        margin-bottom: 0;
      }
    }

    margin-bottom: $gap-normal;
  }

  .mat-card-actions {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 400px) {
  .mat-button,
  .mat-raised-button {
    width: 100%;
  }
}
