@import "../../../../styles/variables";

/deep/ nav {
  background-color: rgb(255, 255, 255);

  .mat-tab-links {
    justify-content: space-between;
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
